CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.vs
/.vscode
/build
/Debug
/Release
/x64
*.out
/CMakeLists.txt
/contraction.cpp
/contraction.cpp.old
/diagCC.vcxproj.user
/diagCC.vcxproj.filters
/diagCC.vcxproj
/diagCC.txt
/diagCC.sln
/diagCC.rc
/diagCC.project
/diagCC.mk
/contraction_pattern.h
/contraction_pattern.cpp
/contraction.h.old
/contraction.h
/RDa07992
/test.h
/test.cpp
/targetver.h
/stdafx.h
/stdafx.cpp
/resource.h
